In [1]:
import pandas as pd
df = pd.read_excel(r'E:\datasets\Customer Call List.xlsx')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [2]:
# 1 removing duplicates

df.drop_duplicates(subset=['CustomerID'], keep='last', inplace=True)
(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [3]:
df.drop(columns = 'Not_Useful_Column', inplace = True)
(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [4]:
# removing special chars from column
'''
to do that you will use the strip function from str class
this function can be strip (both right and left) / lstrip (left)/ rstrip (right)

also you can use replace fucntion
and so on 
that means that all string function you can use
'''
df['Last_Name'] = df['Last_Name'].str.strip('\/._12345 ')
(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [5]:
# removing NaN
df['Last_Name'] = df['Last_Name'].apply(lambda x:str(x))
df['Last_Name'] = df['Last_Name'].replace('nan','')
df = df[df['Last_Name'] != '']
(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [6]:
# clean Phone_Number

# 1 reformat it

# first thing remove all un acceptalble rows
df['Phone_Number'] = df["Phone_Number"].str.replace('-','')
df['Phone_Number'] = df["Phone_Number"].str.replace('|','')
df['Phone_Number'] = df["Phone_Number"].str.replace('/','')
(df['Phone_Number'])

C:\Users\ahmed hany\AppData\Local\Temp\ipykernel_6396\3401809650.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df["Phone_Number"].str.replace('-','')
C:\Users\ahmed hany\AppData\Local\Temp\ipykernel_6396\3401809650.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df["Phone_Number"].str.replace('|','')
C:\Users\ahmed hany\AppData\Local\Temp\ipykernel_6396\3401809650.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df["Phone_Number"].str.replace('/','')

0     1235455421
1     1236439775
2            NaN
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
9     1235455421
10           NaN
11           NaN
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           NaN
18            Na
20    8766783469
Name: Phone_Number, dtype: object

In [7]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x:str(x))
df['Phone_Number'] = df['Phone_Number'].replace('nan','')
df = df[df['Phone_Number'] != ('')]
df = df[df['Phone_Number'] != ('Na')]
# now reformat it
df['Phone_Number'] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:9])
df

C:\Users\ahmed hany\AppData\Local\Temp\ipykernel_6396\1340988054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].apply(lambda x:str(x))
C:\Users\ahmed hany\AppData\Local\Temp\ipykernel_6396\1340988054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].replace('nan','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-977,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Yes,Yes
7,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,No
9,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No
12,1013,Don,Draper,123-543-234,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No
20,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,N

In [9]:
# replacing Y and N


df['Paying Customer'] = df['Paying Customer'].apply(lambda x: x.replace('N', 'No')  if x == 'N' else x)
df['Paying Customer'] = df['Paying Customer'].apply(lambda x: x.replace('Y', 'Yes')  if x == 'Y' else x)

df['Do_Not_Contact'] = df['Do_Not_Contact'].apply(lambda x: x.replace('N', 'No')  if x == 'N' else x)
df['Do_Not_Contact'] = df['Do_Not_Contact'].apply(lambda x: x.replace('Y', 'Yes')  if x == 'Y' else x)
(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-977,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Yes,No
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Yes,Yes
7,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,No,No
9,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No
12,1013,Don,Draper,123-543-234,2039 Main Street,Yes,No
13,1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-246,214 HR Avenue,No,No
15,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No
20,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,No

In [13]:
for i in df.index:
    if df.loc[i, 'Do_Not_Contact'] == 'Yes':
        df.drop(i, inplace=True)
(df)

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No
1005,Jon,Snow,876-678-346,123 Dragons Road,Yes,No
1008,Sherlock,Holmes,876-678-346,98 Clue Drive,No,No
1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No
1013,Don,Draper,123-543-234,2039 Main Street,Yes,No
1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-246,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No
1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,No

In [11]:
df.set_index('CustomerID', inplace=True)
(df)

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No
1005,Jon,Snow,876-678-346,123 Dragons Road,Yes,No
1008,Sherlock,Holmes,876-678-346,98 Clue Drive,No,No
1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No
1013,Don,Draper,123-543-234,2039 Main Street,Yes,No
1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-246,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No
1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,No

In [12]:
df.to_excel(r'E:\datasets\Customer Call List After data clean.xlsx')